@font-face {
    font-family: 'Press Start 2P';
    src: url('/fonts/PressStart2P.ttf');
}

.title-label {
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 24px;
    -fx-stroke: black;
    -fx-stroke-width: 2;
    -fx-fill: yellow;
}
.root {
    /*-fx-background-image: url("/images/Tinkers_Construct_-_Fancy_Seared_Bricks.png");*/
    -fx-background-color: #f0f4f8;
}

.calculator {
    -fx-padding: 20;
}

.comparison-pane {
    -fx-background-color: white;
    -fx-padding: 10;
}

.check-box-Vbox{
    -fx-padding: 0 0 0 15;
    -fx-spacing: 5;
}

.scroll-pane {
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
.scroll-pane > .viewport {
    -fx-background-color: white;
}
.scroll-pane .scroll-bar {
    -fx-opacity: 0;
    -fx-background-color: transparent;
}
.scroll-pane:hover .scroll-bar {
    -fx-opacity: 1;
}

.tool-display-hbox{
    -fx-spacing: 20;
}

.tool-name {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-padding: 10 0 0 0;/* top right bottom left */
}

.tool-parts {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 5 0 0 0;/* top right bottom left */
}

.tool-stats {
    -fx-font-size: 16px;
    -fx-padding: 5 0 10 0;/* top right bottom left */
}

.tool-abilities-box{
    -fx-font-size: 16px;
    -fx-spacing: 10;
    -fx-min-width: 100%;
}

.exit-button{
    -fx-background-radius: 12;
    -fx-background-color: red !important;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-alignment: center;
    -fx-padding: 0;
}

.remove-button{
    -fx-background-color: red !important;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-alignment: center;
    -fx-padding: 0;
}

.label {
    -fx-text-fill: #333;
}

.error-label{
    -fx-fill: red;
    -fx-font-weight: bold;
}

.success-label{
    -fx-fill: green;
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.combo-box {
    -fx-background-color: white;
}
